<img src="https://github.com/Multiomics-Analytics-Group/networks_to_study_microbes/blob/figures/cfb.png?raw=1" width="300">


[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Multiomics-Analytics-Group/networks_to_study_microbes/blob/variables.ipynb)

# Networks to Study Microbes

### Conceptos Básicos

1) Variables

2) Tipos

3) Funciones

4) Librerias de Python

### Variables

- Las variables se usan para almacenar valores que quieres usar más adelante

- Para definir variables debes dar un nombre y asignarles valor usando el símbolo '=' --> a = 5

In [ ]:
mi_primera_variable = 5

In [ ]:
mi_segunda_variable = 12

In [ ]:
c = "Dónde, "
d = "cuándo, "
e = "por qué?"

In [ ]:
mi_primera_variable + mi_segunda_variable

17

In [ ]:
c + d + e

'Dónde, cuándo, por qué?'

En Python debes seguir algunas restricciones cuando le asignes nombres a tus variables:

1. Las variables tienen que comenzar con una letra:  
    * `mi_variable`: Valido
    * `2no`: No valido!  
   
2. El resto del nombre puede contener letras o numeros. Puedes usar guion bajo si quieres usar un nombre con varias palabras:  
    * `variable2`: Valido
    * `hey@no`: No valido! 
    * `hey_no`: Valido
    
3. Ten en cuenta que el nombre de las variables es case-sensitive  
    * `Yes` and `yes` son dos variables diferentes. 

4. Importante: el nombre de las variables debe ser unico, o si lo usas de nuevo el valor se reescribira

In [1]:
a = 5
b = 1

a = 6

Que valor tiene 'a'?

### Tipos

- Las variables pueden ser de diferentes tipos: integer, float, string, boolean

##### Integer (escalar)

In [ ]:
a = 123

##### Float (decimal)

In [ ]:
b = 1.23

##### String (texto)

In [ ]:
c = "Hola mundo!"

##### Boolean

In [ ]:
d = True

In [ ]:
e = False

In [ ]:
a == b

False

### Funciones/Métodos

- Funciones/Métodos definen acciones sobre variables i.e suma, imprimir valor

- Las funciones/métodos se deben llamar para realizar la acción y se deben specificar parametros

In [ ]:
sum([a,b])

124.23

In [ ]:
print(c)

Hola mundo!

- Las funciones se definen usando la palabra reservada en Python **def**:

In [ ]:
def suma_dos_numeros(a, b):
    return a + b

In [ ]:
def grita_hola():
    print("Hola!!!!!!")

In [ ]:
suma_dos_numeros(12,12)

24

In [ ]:
grita_hola()

Hola!!!!!!

Puedes comprobar el tipo de una variable usando la funcion type()

In [2]:
type(a)

int

### Librerias

- Programación es un esfuerzo colaborativo

- Mucha gente define funciones que pueden ser utilizadas por todo el mundo

- Estas funciones se agrupan en librerias que pueden utilizarse simplemente importandolas

#### Importar Libreria

In [ ]:
import pandas as pd

#### Usar Libreria

In [ ]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

In [ ]:
df.head()

    A   B   C   D
0  73  36  73  86
1  26  27  98  64
2  16  89  27  46
3  98  72  89  62
4  46  98  62  45

## Práctica

### Usando Python como una Calculadora

Usando los operadores en esta tabla, resuelve las operaciones matematicas de los ejercicios:

|Asignar Valor | Suma | Resta | Multiplicación | División | Superíndice | 
|  :--------:  | :---:| :---: | :------------: | :------: | :---------: |
|      =       |   +  |   -   |        *       |     /    |      **     |

1. Cuánto es dos más tres?

2. Cuánto es dos por tres?

3. Cuánto es cuatro al cubo?

4. Cuanto es **X** menos 7, si  X es igual a 10?

#### Trabajando con Textos (string)

Strings son datos en formato texto. Se pueden crear variables tipo string (texto) haciendo usod de commillas simples (e.g. 'Hi!') o comillas dobles (e.g. "Hi!")

Se pueden usar algunos de los operadores que hemos visto anteriormente pero tienen un efecto distinto:

|Asignar a una Variable| Concatenar String | Repetir un numero de veces |
|  :----------------:  |  :------------:   |        :---------:         |
|          =           |         +         |             *              |

1. Haciendo uso de estos operadores, concatena estas dos variables

In [ ]:
saludos = "Hola"
persona = "Pepito"

2. Repite el saludo 3 veces

**Algunos metodos utiles**

Usa los metodos: **strip**, **swapcase**, **title**, **lower**, **upper**, y **zfill** para modificar los siguientes string:

**"Tengo hambre"** -> **"TENGO HAMBRE"**

**"la reina de inglaterra"** -> **"La Reina De Inglaterra"**

**QUIEN quiere Programar?"** -> **quien QUIERE pROGRAMAR?"**

#### Listas de Varios Elementos

Las listas son sequencias de datos. Se contruyen utilizando: **[]** o **list()**. Se pueden concatenar como vimos en el caso de texto, pero pueden contener cualquier tipo de dato (texto, numeros, etc.). Los metodos que podemos utilizar son:

| Metodo   |  Efecto                                  | 
| :-----:  |  :----------:                                  |
| append() | Concatena un elemento a la lista        | 
| extend() | Concatena una lista a otra lista sequencialmente  | 
| remove() | Elimina un elemento de la lista                 |
| clear()  | Vacia la lista              | 
| copy()   | Retorna una copia de la lista                    |
| sort()   | Ordena la lista                               |
| reverse()| Cambia el sentido de la lista       |

**Ejemplo** Esto es una lista de 5 elementos

In [ ]:
mi_lista = ['a','b', 'c', 'd', 'e']

In [ ]:
mi_lista

['a', 'b', 'c', 'd', 'e']

1. Haz una lista con tus tres peliculas favoritas

2. Tu experimento tiene 3 muestras (muestra_A, muestra_B y muestra_D) contruye una lista

3. Añade una muestra más: muestra_C

4. Ordena la lista de muestras

5. Incluye en tu lista de muestras otras dos nuevas muestras recolectadas: muestra_E, muestra_F

In [ ]:
nuevas_muestras = ['muestra_E', 'muestra_F']

### Más Recursos

  - String Methods: https://docs.python.org/3/library/stdtypes.html#string-methods
  
  - Python Strings: https://realpython.com/python-strings/
   
  - Python Lists: https://realpython.com/python-lists-tuples/